/* GlOBAL FORMATTING */

@font-face {
  font-family: VHS;
  src: url("./assets/Lucida-Grande-Bold.ttf");
}
@font-face {
  font-family: Lato;
  src: url("./assets/Lucida-Grande-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VHS";
}

.highlight {
  border-left: 10px solid white;
}

.site-container {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 150px auto;
  /* background-color:rgba(0, 0, 255, 0.2); */
  background-color: black;
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.site-content {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* border-top: solid black 4px;
  border-left: solid black 4px;
  border-right: solid black 4px;
  border-bottom: solid black 4px; */
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex !important;
  grid-column: 1/3;
}
.logo {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .site-container {
    display: flex;
    width: 100%;
  }
  .site-content {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .main-left {
    display: none;
  }
  .main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .album {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content !important;
    flex-grow: 1;
  }
  .album iframe {
    width: 100% !important;
    /* height: fit-content !important; */
    flex-grow: 1;
  }
}

.main-left {
  grid-column: 1/2;
  background: black !important;
  position: sticky;
  top: 0;
  margin: 10px;
}

.main-right {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  overflow-y: visible;

  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background: rgba(0, 0, 255, 0.7); */
  background-image: url("./assets/gradient-long.jpg");
  box-shadow: white 2px 2px 1px, white -2px 2px 1px, white -2px -2px 1px,
    white 2px -2px 1px, white 0px 2px 1px, white 0px -2px 1px, white 2px 0px 1px,
    white -2px 0px 1px;
}

/* ABOUT SECTION */

.nav-links {
  position: sticky;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  filter: blur(0.4px);
  text-shadow: 0px 0px 3px #333333;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;

  display: block;
}

.about-section {
  padding: 20px 30px 30px 30px;
  margin: 60px 80px 60px 40px;
  width: auto;
  height: fit-content;
  border: solid white 2px;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

#main-img {
  width: 100%;
  height: auto;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

.about-content {
  font-size: 18px;
  font-family: "Lato" !important;
  margin: 20px 0;
  color: white;
  letter-spacing: 3px;
  line-height: 30px;
}

#about-name {
  margin: 10px 0 15px 0;
  letter-spacing: 8px;
  font-size: 40px;
  padding-bottom: 15px;

  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

/* Audio Section */

.audio-section {
  padding: 20px 30px 30px 30px;
  margin: 60px 80px 60px 40px;
  width: auto;
  height: fit-content;
  border: solid white 2px;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

#audio-header {
  margin: 10px 0 15px 0;
  letter-spacing: 8px;
  font-size: 40px;
  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

.audio-subtext {
  font-size: 18px;
  font-family: "Lato";
  margin: 20px 0;
  color: white;
  letter-spacing: 3px;
  line-height: 30px;
}

.album-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.album {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* border: 1px solid black; */
}

.album iframe {
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

figcaption {
  color: white;
  font-size: 12px;
  margin-right: 5px;
  font-family: "Lato";
  text-align: right;
  font-style: italic;
  padding: 5px;
}

.album:hover {
  background: rgba(0, 0, 255, 0.8) !important;
  color: white;
  transition: 0.3s;
}

.album img {
  width: 100%;
  background: white;
  padding-bottom: 20px;
}

.album-title {
  padding-top: 10px;
  font-family: "Lato";
  letter-spacing: 2px;
  line-height: 25px;
  color: white;
}

.italics {
  font-style: italic;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  font-family: "Lato";
}

.album:hover h3 {
  background: rgba(0, 0, 255, 0) !important;
}

.album:hover span {
  background: rgba(0, 0, 255, 0);
}

/* Video Section */

.video-section {
  padding: 20px 30px 30px 30px;
  margin: 60px 80px 60px 40px;
  width: auto;
  height: fit-content;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

#video-header {
  margin: 10px 0 15px 0;
  padding-bottom: 20px;
  letter-spacing: 8px;
  font-size: 40px;
  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

.video {
  align-items: center;
  justify-content: center;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
  margin: 20;
  margin-bottom: 40px;
}

.video:hover {
  background: rgba(0, 0, 255, 0.8);
}

.video:hover .video-title {
  background: rgba(0, 0, 255, 0);
  color: white;
}

.video iframe {
  margin-bottom: 20px;
  margin: 10px 10px 10px 10px;
  width: 97%;
  height: 400px;
}

#video-header {
  margin: 15px 0;
}

.video-title {
  font-family: "Lato";
  margin: 10px 25px 20px;
  color: white;
  background: none;
  letter-spacing: 3px;
  line-height: 30px;
}

/* Player Section */
.audio-player {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}
.audio-player iframe {
}

/* Contact Section  */

.contact-section {
  padding: 20px 30px 30px 30px;
  margin: 60px 80px 60px 40px;
  width: auto;
  height: fit-content;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
}

.contact-header-container {
  width: 100%;
}

#contact-header {
  margin: 10px 0 15px 0;
  padding-bottom: 20px;
  letter-spacing: 8px;
  font-size: 40px;
  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}
.contact-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#contact-form input,
textarea {
  border: none;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  background: none;
  color: white;
  resize: none;
}

#contact-form input {
  height: 30px;
  width: 100%;
}
#contact-form textarea {
  height: 180px;
  width: 100%;
}

#contact-form h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 12px;
  line-height: 40px;
}

#contact-form input,
textarea:focus {
  outline: none;
}

#contact-form button {
  margin-left: 20px;

  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;
  width: 100%;
  height: 40px;
}

#contact-form button:hover {
  background: black;
  color: white;
}

.contact-subtext {
  font-size: 18px;
  font-family: "Lato";
  margin: 20px 0 40px 0;
  color: white;
  letter-spacing: 3px;
  line-height: 30px;
}

.contact-subtext a {
  color: white;
}

/* THANK YOU */

#thank-you-body {
  background: rgba(0, 0, 255, 0.7) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-you-container h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 30px;
}

.back {
  font-size: 40px;
}
