/* GlOBAL FORMATTING */

@font-face {
  font-family: VHS;
  src: url("./assets/Lucida-Grande-Bold.ttf");
}
@font-face {
  font-family: Lato;
  src: url("./assets/Lucida-Grande-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VHS";
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  scroll-behavior: smooth;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

body > div {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

.highlight {
  border-left: 10px solid white;
}

h3 {
  font-size: 16px;
}
.site-container {
  display: grid;
  grid-template-columns: 1fr 1100px 1fr;
  grid-template-rows: 100px auto;
  /* background-color:rgba(0, 0, 255, 0.2); */
  background-color: black;
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.site-content {
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* border-top: solid black 4px;
  border-left: solid black 4px;
  border-right: solid black 4px;
  border-bottom: solid black 4px; */
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
}

.divider-section {
  background-color: black;
  height: 100px;
  width: 100%;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex !important;
  grid-column: 1/3;
}
.logo {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 500px;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
}

.main-left {
  grid-column: 1/2;
  background: black !important;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0px;
}

.main-right {
  grid-column: 2/3;
  display: flex;

  flex-direction: column;
  overflow-y: visible;

  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background: rgba(0, 0, 255, 0.7); */
  background-image: url("./assets/gradient-long.jpg");
  background-size: cover;
}

/* ABOUT SECTION */

.nav-links {
  position: sticky;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-links a {
  padding: 14px 10px 8px 10px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0px 0px 3px #333333;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;

  display: block;
}

.about-section {
  padding: 30px 30px 0px 30px;
  margin: 0;
  width: auto;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border: solid white 2px;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

#main-img {
  width: 100%;
  height: auto;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

.about-content {
  font-size: 14px;
  font-family: "Lato" !important;
  margin: 20px 0;
  color: white;
  letter-spacing: 2px;
  line-height: 28px;
}

#about-name {
  margin: 10px 0 15px 0;
  letter-spacing: 8px;
  padding-bottom: 15px;

  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

/* Audio Section */

.audio-section {
  padding: 20px 30px 30px 30px;
  margin: 0;
  width: auto;
  height: fit-content;
  border: solid white 2px;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

#audio-header {
  margin: 10px 0 15px 0;
  letter-spacing: 8px;
  font-size: 30px;
  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

.audio-subtext {
  font-size: 14px;
  font-family: "Lato";
  margin: 20px 0;
  color: white;
  letter-spacing: 3px;
  line-height: 30px;
}

.album-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.album {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* border: 1px solid black; */
}

.album iframe {
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

figcaption {
  color: white;
  font-size: 12px;
  margin-right: 5px;
  font-family: "Lato";
  text-align: right;
  font-style: italic;
  padding: 5px;
}

.album:hover {
  background: rgba(0, 0, 0, 0.4) !important;
  color: white;
  transition: 0.3s;
}

.album img {
  width: 100%;
  background: white;
  padding-bottom: 20px;
}

.album-title {
  padding-top: 10px;
  font-family: "Lato";
  letter-spacing: 2px;
  line-height: 25px;
  color: white;
}

.italics {
  font-style: italic;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  font-family: "Lato";
}

.album:hover h3 {
  background: rgba(0, 0, 255, 0) !important;
}

.album:hover span {
  background: rgba(0, 0, 255, 0);
}

/* Video Section */

.video-section {
  padding: 20px 30px 30px 30px;
  margin: 0;
  width: auto;
  height: fit-content;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

#video-header {
  margin: 10px 0 15px 0;
  padding-bottom: 20px;
  letter-spacing: 8px;
  font-size: 30px;
  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}

.video {
  align-items: center;
  justify-content: center;
  box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
  margin: 20;
  margin-bottom: 40px;
}

.video:hover {
  background: rgba(0, 0, 0, 0.4) !important;
}

.video:hover .video-title {
  background: rgba(0, 0, 255, 0);
  color: white;
}

.video iframe {
  margin-bottom: 20px;
  margin: 10px 10px 10px 10px;
  width: 97%;
  height: 400px;
}

#video-header {
  margin: 15px 0;
}

.video-title {
  font-family: "Lato";
  margin: 10px 25px 20px;
  color: white;
  background: none;
  letter-spacing: 3px;
  line-height: 30px;
}

/* Player Section */
.audio-player {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}
.audio-player iframe {
}

/* Contact Section  */

.contact-section {
  padding: 20px 30px 30px 30px;
  margin: 0;
  width: auto;
  height: fit-content;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
}

.contact-header-container {
  width: 100%;
}

#contact-header {
  margin: 10px 0 15px 0;
  padding-bottom: 20px;
  letter-spacing: 8px;
  font-size: 30px;
  color: white;
  text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
    black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px, black 2px 0px 1px,
    black -2px 0px 1px;
}
.contact-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#contact-form input,
textarea {
  border: none;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 12px;
  background: none;
  color: white;
  resize: none;
}

#contact-form input {
  height: 30px;
  width: 100%;
}
#contact-form textarea {
  height: 180px;
  width: 100%;
}

#contact-form h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 12px;
  line-height: 40px;
}

#contact-form input,
textarea:focus {
  outline: none;
}

#contact-form button {
  margin-left: 20px;

  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  width: 100%;
  height: 40px;
}

#contact-form button:hover {
  background: black;
  color: white;
}

.contact-subtext {
  font-size: 14px;
  font-family: "Lato";
  margin: 20px 0 40px 0;
  color: white;
  letter-spacing: 3px;
  line-height: 30px;
}

.contact-subtext a {
  color: white;
}

/* THANK YOU */

#thank-you-body {
  background: rgba(0, 0, 255, 0.7) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-you-container h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 30px;
}

.back {
  font-size: 40px;
}

@media screen and (max-width: 900px) {
  .site-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    margin: 12px;
    margin-top: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 14px;
  }

  #audio-header {
    font-size: 20px;
  }
  .site-content {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 0;
  }
  .header-section {
  }
  .logo-container {
  }
  .logo {
    width: 400px;
  }
  .main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-left {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    height: 20px;
  }

  .nav-links {
    position: absolute;
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    align-items: center;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex !important;
    width: 100%;
    height: fit-content;
    justify-content: center;
    background: black !important;
    padding-top: 0;
  }
  .nav-links a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    /* text-shadow: 0px 0px 3px #333333; */
    text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
      black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px,
      black 2px 0px 1px, black -2px 0px 1px;

    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .about-content {
    font-size: 14px;
    font-family: "Lato" !important;
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 24px;
  }

  .audio-section {
    padding: 20px 30px 30px 30px;
    margin: 0;
    width: auto;
    height: fit-content;
    border: solid white 2px;
    box-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
      black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px,
      black 2px 0px 1px, black -2px 0px 1px;
  }

  .album-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 100%; */
    flex-grow: column;
  }

  .album {
    align-items: center;
    margin: 0px;
    padding: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: space-around;
    width: 250px;
    height: 350px;
  }
  .album iframe {
    grid-row: 1/2;
    width: 225px !important;
    height: 225px;
    padding: 0;
    margin: 0;
  }

  .album:hover {
    background: rgba(0, 0, 0, 0) !important;
    color: white;
    transition: 0.3s;
  }

  .video:hover {
    background: rgba(0, 0, 0, 0) !important;
  }

  #audio-header {
    margin: 10px 0 15px 0;
    letter-spacing: 8px;
    font-size: 30px;
    color: white;
    text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px,
      black 2px -2px 1px, black 0px 2px 1px, black 0px -2px 1px,
      black 2px 0px 1px, black -2px 0px 1px;
  }

  .audio-subtext {
    font-size: 14px;
    font-family: "Lato";
    margin: 20px 0;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    line-height: 30px;
    display: flex;
  }

  .album img {
    width: 100%;
    background: white;
    padding-bottom: 0px;
  }

  .album-title {
    padding-top: 0px;
    font-family: "Lato";
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 13px;
    color: white;
  }

  .italics {
    font-style: italic;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    font-family: "Lato";
  }

  .album:hover h3 {
    background: rgba(0, 0, 255, 0) !important;
  }

  .album:hover span {
    background: rgba(0, 0, 255, 0);
  }
}

@media screen and (max-width: 810px) {
  .nav-links a {
    font-size: 14px;
  }
  .main-left {
    background: black;
    width: 100%;
  }

  .logo {
    width: 300px;
  }

  .album {
    align-items: center;
    margin: 0px;
    padding: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: space-around;
    width: 150px;
    height: 300px;
  }
  .album iframe {
    grid-row: 1/2;
    width: 150px !important;
    height: 150px;
    padding: 0;
    margin: 0;
  }
  .about-content {
    font-size: 12px;
    font-family: "Lato" !important;
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 23px;
  }
}

@media screen and (max-width: 600px) {
  .site-container {
    width: auto;
    display: flex;
    overflow-x: hidden;
  }

  .main-left {
    width: 300%;
  }

  .nav-links {
    width: 100%;
    /* padding: 0; */
    margin: 0;
  }

  .nav-links a {
    /* padding: 0; */
    margin: 0;
  }

  .site-content {
    align-items: center;
    justify-content: center;
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
  .album-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 100%; */
    flex-grow: column;
  }

  .album {
    align-items: center;
    margin: 0px;
    padding: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: space-around;
    width: 290px;
    height: 400px;
  }
  .album iframe {
    grid-row: 1/2;
    width: 290px !important;
    height: 290px;
    padding: 0;
    margin: 0;
  }
}
